<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyLine Stays - Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="wrapper">
        <form action="/signup" method="post">
            <h2>Sign Up</h2>
            <div class="input-field">
                <input type="text" name="name" required>
                <label for="name">Enter your name</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" required>
                <label for="password">Enter your password</label>
            </div>
            <button type="submit" class="sub">Log In</button>
            
        </form>
    </div>
</body>
</html>